<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes Registrados</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Lista.css">
</head>
<body>
    <div class="container">
        <div class="tabla">
            <h2>Clientes Registrados</h2>
            <div class="mb-3">
                <a th:href="@{/menu}" class="btn btn-secondary" roll="button">Regresar</a>
                <a th:href="@{/registrar_cliente}" class="btn btn-primary" roll="button">Registrar cliente</a>
            </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                     
                        <tr th:each="cliente : ${clientes}">
                            <td class="table-secondary" th:text="${cliente.codCliente}"></td>
                            <td class="table-secondary" th:text="${cliente.nombre}"></td>
                            <td class="table-secondary" th:text="${cliente.apellidoPat}"></td>
                            <td class="table-secondary" th:text="${cliente.apellidoMat}"></td>
                            <td class="table-secondary" th:text="${cliente.correo}"></td>
                            <td class="table-secondary" th:text="${cliente.direccion}"></td>
                            <td class="table-secondary" th:text="${cliente.telefono}"></td>
                            <td class="table-secondary" th:text="${cliente.dni}"></td>
                            <td class="table-secondary">
			                    <a th:href="@{/delete/{id}(id=${cliente.codCliente})}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta mascota?');">Eliminar</a> |
			                    <a th:href="@{/actualizar_cliente/{id}(id=${cliente.codCliente})}" class="btn btn-warning btn-sm">Editar</a> |
			                    <a th:href="@{/detalle_cliente/{id}(id=${cliente.codCliente})}" class="btn btn-primary btn-sm">Detalles</a>  
			                </td>
                        </tr>
                        
                         
                    </tbody>
                </table>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>