<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mascotas Registradas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Lista.css">
</head>
<body>
    <button class="logout-button">Cerrar Sesión</button>
    <div class="container">
        <div class="tabla">
            <h2 class="text-center">Mascotas Registradas</h2>
            <div class="mb-3">
                <a class="btn btn-primary" th:href="@{/menu}" role="button">Volver al Menú</a> 
                <a class="btn btn-success" th:href="@{/registrar_mascota}" role="button">Registrar Nueva Mascota</a>
            </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Raza</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Especie</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mascota : ${mascotas}">
                            <td class="table-secondary" th:text="${mascota.codMascota}"></td>
                            <td class="table-secondary" th:text="${mascota.nombre}"></td>
                            <td class="table-secondary" th:text="${mascota.raza}"></td>
                            <td class="table-secondary" th:text="${mascota.sexo}"></td>
                            <td class="table-secondary" th:text="${mascota.edad}"></td>
                            <td class="table-secondary" th:text="${mascota.especie}"></td>
                            <td class="table-secondary" th:text="${mascota.peso}"></td>
                            <td class="table-secondary" th:text="${mascota.cliente.nombre + ' ' + mascota.cliente.apellidoPat}"></td>
                            <td class="table-secondary">
                                <a th:href="@{/registrar_cita/{id}(id=${mascota.codMascota})}" class="btn btn-info btn-sm">Crear cita</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>