<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Mascota</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <button class="logout-d">Cerrar Sesión</button>
    <div class="container">
        <div class="weeeeee">
            <h2 class="text-center">Registro de Mascota</h2>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
            <form class="wiii" th:action="@{/registrar_mascota}" th:object="${mascota}" method="post">
                <div class="waaa1">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese el nombre de la mascota" required>
                    </div>
                    <div class="form-group">
                        <label for="raza">Raza:</label>
                        <input type="text" class="form-control" id="raza" th:field="*{raza}" placeholder="Ingrese la raza de la mascota" required>
                    </div>
                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <input type="text" class="form-control" id="sexo" th:field="*{sexo}" placeholder="Ingrese 'M' para macho o 'H' para hembra" maxlength="1" pattern="[MH]" required>
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input type="number" class="form-control" id="edad" th:field="*{edad}" placeholder="Ingrese la edad de la mascota" required>
                    </div>
                </div>

                <div class="waaa2">
                    <div class="form-group">
                        <label for="especie">Especie:</label>
                        <input type="text" class="form-control" id="especie" th:field="*{especie}" placeholder="Ingrese la especie de la mascota" required>
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso:</label>
                        <input type="number" class="form-control" id="peso" th:field="*{peso}" placeholder="Ingrese el peso de la mascota" required>
                    </div>
                    <div class="form-group">
                        <label for="cliente">Cliente:</label>
                        <select class="form-control" id="cliente" th:field="*{cliente}">
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option th:each="cliente : ${clientes}" 
                                    th:value="${cliente.codCliente}" 
                                    th:text="${cliente.nombre + ' ' + cliente.apellidoPat}"></option>
                        </select>
                    </div>
                </div>

                <div class="waaa3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <a th:href="@{/menu}" class="btn btn-secondary btn-block" role="button">Volvr al Menu</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>