<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cita</title>

    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <button class="logout-d">Cerrar Sesión</button>
    <div class="container">
        <div class="weeeeee">
            <h2 class="text-center">Registro de Cita</h2>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
            <form class="wiii" th:action="@{/registrar_cita}" th:object="${cita}" method="post">
                <input type="hidden" id="estado" th:field="*{estado}" value="Pendiente" />
                <div class="waaa1">
                    <div class="form-group">
                        <label for="fechaCita">Fecha de la cita:</label>
                        <input type="date" class="form-control" id="fechaCita" th:field="*{fechaCita}" required>
                    </div>
                    <div class="form-group">
                        <label for="horaCita">Hora de la cita:</label>
                        <input type="time" class="form-control" id="horaCita" th:field="*{horaCita}" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="3" placeholder="Ingrese la descripción de la cita"></textarea>
                    </div>
                </div>
                <div class="waaa2">
                    <input type="hidden" id="informe" th:field="*{informe}" value="-" />
                    <div class="form-group">
                        <label for="codMascota">Mascota:</label>
                        <input type="text" class="form-control" id="codMascota" th:value="${cita.codMascota.nombre}" disabled />
                        <input type="hidden" th:field="*{codMascota.codMascota}" />
                    </div>
                    <div class="form-group">
                        <label for="codVet">Veterinario:</label>
                        <select class="form-control" id="codVet" th:field="*{codVet}">
                            <option value="" disabled selected>Seleccione un veterinario</option>
                            <option th:each="veterinario : ${veterinarios}" 
                                    th:value="${veterinario.codVet}" 
                                    th:text="${veterinario.nombre + ' ' + veterinario.apellidoPat}"></option>
                        </select>
                    </div>
                </div>

                <div class="waaa3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <a th:href="@{/mascotas}" class="btn btn-secondary btn-block" role="button">Regresar</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>