<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <button class="logout-d">Cerrar Sesión</button>
    <div class="container">
        <div class="weeeeee">
            <h2 class="text-center">Registro de Cliente</h2>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
            <form class="wiii" th:action="@{/registrar_cliente}" th:object="${cliente}" method="post">
                <div class="waaa1">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese el nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoPat">Apellido Paterno:</label>
                        <input type="text" class="form-control" id="apellidoPat" th:field="*{apellidoPat}" placeholder="Ingrese el apellido paterno" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoMat">Apellido Materno:</label>
                        <input type="text" class="form-control" id="apellidoMat" th:field="*{apellidoMat}" placeholder="Ingrese el apellido materno" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" class="form-control" id="correo" th:field="*{correo}" placeholder="Ingrese el correo">
                    </div>
                    
                </div>

                <div class="waaa2">
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Ingrese la dirección" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" class="form-control" id="telefono" th:field="*{telefono}" placeholder="Ingrese el teléfono">
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI:</label>
                        <input type="text" class="form-control" id="dni" th:field="*{dni}" placeholder="Ingrese el DNI" required>
                    </div>
                </div>

                <div class="waaa3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <a th:href="@{/lista_clientes}" class="btn btn-secondary btn-block" role="button">Regresar</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>