<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes de Veterinaria</title>
    <link rel="stylesheet" href="/css/tablas.css">
</head>
<body>
    <button class="logout-button">Cerrar Sesión</button>
    <button class="back-button">Volver</button>

    <div class="container">
        <h1>Veterinaria</h1>
        <main class="report-section">
            <section class="report-header">
                <h1>Reportes de la Veterinaria</h1>
            </section>
            <section class="report-body">
                <div class="report-buttons">
				<form action="#" th:action="@{/generarPDF_CitasPendientes}" method="get" target="_blank">
					<button type="submit" class="btn btn-primary mt-3">Generar PDF de Citas Pendientes</button>
				</form>
				<form action="#" th:action="@{/generarPDF_CitasCompletadas}" method="get" target="_blank">
				    <button type="submit" class="btn btn-primary mt-3">Generar PDF de Citas Completadas</button>
				</form>
                
				<form action="#" th:action="@{/generarPDF_Citas}" method="get" target="_blank">
            		<button type="submit" class="btn btn-primary mt-3">Generar PDF de Citas</button>
        		</form>
                <a class="btn btn-primary" href="/mostrarFormularioGenerarPDF">Reporte de Clientes y Mascotas</a>
                </div>
            </section>
        </main>
    </div>
</body>
</html>