body {
    background-image: url(/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}
.container {
    background-color: #ffffffc7;
    text-align: center;
    width: 70%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.horizontal-buttons {
    display: flex;
    justify-content: center;
    height: 30%;
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 20px 40px; 
    font-size: 18px; 
}
.logout-button {
    background-color: rgb(230, 227, 233);
    position: absolute; 
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

button{
    background-color: rgba(204, 138, 52, 0.801);
    border-radius: 5px;
    border: 2px;
    transition: background-color 0.5s;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.281);
}
button:hover{
    background-color: rgba(233, 235, 162, 0.445);
}
.primer{
    width: 30%;
    height: 100%;
}
.segundo{
    width: 40%;
}
a{
    text-decoration: none;
    text-transform: none;
    color: black;
}